# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.lock

# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Distribution / packaging
.Python
*.manifest
*.spec

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/
.coverage
htmlcov/

# IDE / editors
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Audio files
*.wav

# macOS
.DS_Store